body , div , span , h1 , ul , li , h1 , header{
    margin: 0 auto;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* cabeçalio */

header{
    padding: 10px;
    box-shadow: 0px 0px 3px 0px ; 
    position: fixed ;
    top: 0px; left: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.container_header{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.titulo{
    margin: 0;
}

ul{
    display: flex;
    margin: 0;
}

li{
    padding: 10px;
}

.link_menu{
    font-size: 21px;
}

.link_menu:hover{
    text-decoration-line: underline;
    cursor: pointer;
    color: rgb(38, 38, 169);
}

/* Main */
main{
    margin: 70px 0px;
    position:  relative;
}

.container_products{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}

.section_products{
    width: 70%;
}

.lista_produtos{
    display: flex;
    flex-wrap: wrap;
}

.card_produtos{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 250px;
    height: 420px;
    margin: 12px;
    border: solid  1px white;
    box-shadow: 0px 0px 1px 0px ;
    border-radius: 10px;
}

.card_produtos:hover{
    box-shadow: 0px 0px 5px 0px rgb(31, 31, 117);
    border: solid 1px black;
    border-radius: 10px;
}

.img_card{
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
    height: 50%;
    border-radius: 10px 10px 0px 0px ;
}

.div_descricao_card{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8px;
    border-top: 1px rgb(240, 233, 233) solid;
}

.descricao{
    margin: 0;
    font-size: 15px;
}
.preco , .tipo {
    margin: 0;
    display: block;
}

.tipo{
    background-color: rgb(31, 31, 117);
    color: aliceblue;
    width: fit-content;
    padding: 2px;
    margin-bottom: 5px;
}


.add_carrinho{
    margin: 0 ;
    padding: 0;
    border: none;
    background: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: rgba(64, 35, 168, 0.808);
    
}

.add_carrinho:hover{
    text-decoration-line: underline;
    color: rgb(13, 13, 240);
   
}

/* carrinho de compras */
.section_carrinho{
  
    height: 50vh;
    position: sticky;
    top: 80px;
}

.div_pesquisa{
    position: relative;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.input_pesquisa{
    width: 200px;
    padding:20px 10px;
    font-size: 18px;
    opacity: 50%;

}

.input_button_pesquisa{
    padding: 20px;
    font-size: 17px;
    background-color:rgba(31, 31, 117, 0.922);
    color: white;
    border: none;
    cursor: pointer;
}

.input_button_pesquisa:hover{
    background-color:rgba(26, 26, 98, 0.978);
}

/* Carrinho */
.centralizar_texto{
    text-align: center;
}

.img_carrinho{
    width: 100px;
    height: 110px;
}

.titulo_carrinho{
    background-color: rgba(32, 32, 126, 0.978);
    color: white;
    padding: 20px;
    align-items: center;
    margin: 0;
    margin-top: 30px;
}


.lista_carrinho{
    display: flex;
    flex-direction: column;
    background-color: rgba(239, 240, 243, 0.662);
    align-items: center;
    text-align: center;
    border: solid 1px rgb(184, 180, 180);
    max-height: 320px;
    overflow-y: auto;
}


.card_carrinho{
    width: 280px;
    margin: 20px;
    padding: 5px;
    border: solid 1px rgb(184, 180, 180);
    display: flex;
    align-items: center;
}

h3{
    margin-top: 0;
}

.card_carrinho:hover{
    box-shadow: 0px 0px 6px 0px rgba(25, 25, 105, 0.986);
    border: solid 1px rgba(25, 25, 105, 0.986);
}


/* Botão carrinho */
.button_retira_carrinho{
    border: none;
    background-color: rgba(239, 240, 243, 0.662);
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    border: solid 1px;
    cursor: pointer;  
}


.button_retira_carrinho:hover{
    text-decoration-line: underline;
    color: rgb(38, 38, 169);
    background-color: rgb(255, 255, 255);
}

/* contador */
.contador{
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(49, 47, 47);
}

.list_contador{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    padding: 0px;
}

.span_contador{
    margin: 0px;
    padding: 10px;
    color: white;
}
/* Botão finalizar */
.finalizar{
    width: 100%;
    height: 60px;
    background-color: rgba(32, 32, 126, 0.978);
    color: white;
    font-size: 25px;
}

.finalizar:hover{
    background-color: rgba(42, 42, 167, 0.978);
    cursor: pointer;
}

.displayNone{
    display: none;
}


footer{
    text-align: center;
    color: rgb(177, 180, 182);
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: solid 1px rgb(221, 226, 230);
}